:root {
  --bg-primary: black;
  --bg-secundary: white;

  --color-primary: black;
  --color-secundary: white;

  --shadown: 0 0 0.5rem rgba(0, 0, 0, 0.2);

  --radius: 0.3rem;

  --font-weight: 600;
  --font-size-button: 0.9rem;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
